* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(158, 158, 158);
    color: #fff;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    overflow: hidden;
    text-align: center;
}
.test {
    background-color: gray;
    text-transform: uppercase;
    width: 40vw;
    margin: auto;
}
.container {
    height: 100px;
    width: 100%;
    background-color: rgb(247, 169, 2);
}